@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 240 10% 2%; /* This gives us #07070A */
    --foreground: 0 0% 100%;

    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 100%;

    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 100%;

    --primary: 213 49% 47%;
    --primary-foreground: 0 0% 100%;

    --secondary: 213 100% 33%;
    --secondary-foreground: 0 0% 100%;

    --muted: 220 8% 15%;
    --muted-foreground: 0 0% 100%;

    --accent: 217 10% 32%;
    --accent-foreground: 0 0% 100%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 100%;

    --border: 217 10% 32%;
    --input: 217 10% 32%;
    --ring: 213 49% 47%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 240 10% 2%; /* This gives us #07070A */
    --foreground: 0 0% 100%;

    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 100%;

    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 100%;

    --primary: 213 49% 47%;
    --primary-foreground: 0 0% 100%;

    --secondary: 213 100% 33%;
    --secondary-foreground: 0 0% 100%;

    --muted: 220 8% 15%;
    --muted-foreground: 0 0% 100%;

    --accent: 217 10% 32%;
    --accent-foreground: 0 0% 100%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 100%;

    --border: 217 10% 32%;
    --input: 217 10% 32%;
    --ring: 213 49% 47%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-[#07070A] text-foreground min-h-screen;
  }

  html {
    @apply bg-[#07070A];
  }
}